@using TemperatureModule.Webpage.Models

@if (unitData != null)
{
    <div id="records" style="display:flex; flex-direction:row; flex-wrap: wrap; justify-content:center">

        <div id="airRecords" class="order-0 records box">

            <HeaderLatestTemperatureComponent Latest="@_airTemperatureUnit.Latest" PTIndex="PTIndex.Air"></HeaderLatestTemperatureComponent>
            <TermometerComponent temperatureUnit="@_airTemperatureUnit" mediumType="PTIndex.Air"></TermometerComponent>
            <AverageTemperatureComponent Average="@_airTemperatureUnit.Average" PTIndex="PTIndex.Air"></AverageTemperatureComponent>

            @*<TemperatureListingComponent data="@_airTemperatureUnit.Highest" IsHighest="true" PTIndex="PTIndex.Air"></TemperatureListingComponent>
            <TemperatureListingComponent data="@_airTemperatureUnit.Lowest" IsHighest="false" PTIndex="PTIndex.Air"></TemperatureListingComponent>*@


        </div>

        <div id="waterRecords" class="order-2 records box">

            <HeaderLatestTemperatureComponent Latest="@_waterTemperatureUnit.Latest" PTIndex="PTIndex.Water"></HeaderLatestTemperatureComponent>
            <TermometerComponent temperatureUnit="@_waterTemperatureUnit" mediumType="PTIndex.Water"></TermometerComponent>
            <AverageTemperatureComponent Average="@_waterTemperatureUnit.Average" PTIndex="PTIndex.Water"></AverageTemperatureComponent>

            @*<TemperatureListingComponent data="@_waterTemperatureUnit.Highest" IsHighest="true" PTIndex="PTIndex.Water"></TemperatureListingComponent>
            <TemperatureListingComponent data="@_waterTemperatureUnit.Lowest" IsHighest="false" PTIndex="PTIndex.Water"></TemperatureListingComponent>*@

        </div>
    </div>
}
else
{
    <div style="padding-top: 12px;padding-left: 20px;padding-bottom: 12px;font-size: 30px;border: 1px solid rgba(0,0,0,.125);">
        <strong>Loading</strong>
    </div>
}


@code {
    [CascadingParameter]
    public TempraturModul.Models.TempratureDTO[] unitData { get; set; }

    private TemperatureModule.Webpage.Models.LatestTemperatureUnit _airTemperatureUnit;
    private TemperatureModule.Webpage.Models.LatestTemperatureUnit _waterTemperatureUnit;



    protected override async Task OnParametersSetAsync()
    {


        if (unitData != null)
        {
            _airTemperatureUnit = new LatestTemperatureUnit(unitData[0].UnitDataPT.Where(e => e.PTIndex == (int)PTIndex.Air));
            _waterTemperatureUnit = new LatestTemperatureUnit(unitData[0].UnitDataPT.Where(e => e.PTIndex == (int)PTIndex.Water));
        }
    }

    

}
